.projects-header {
  font-size: 20px;
  font-weight: bold;
  padding: 30px 30px;
  margin-bottom: -10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  background-color: rgb(255, 193, 79);
}

.card {
  background: #fff;
  border-radius: 2px;
  height: 325px;
  width: 350px;
  margin: 1rem;
  position: relative;
  text-align: left;
}

.card>.img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  background: #e1e1e1;
}

.card>.img-container>img {
  width: 60%
}

.card>.content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card>.content>ul {
  list-style-type: none;
}

.card>.content>ul>li {
  margin-top: 18px;
}